<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Appli_CocoriCO2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NodaTime" publicKeyToken="4226afe0d9b296d1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.ObjectPool" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.4.0" newVersion="5.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Appli_CocoriCO2.Properties.Settings>
        <setting name="MasterIPAddress" serializeAs="String">
            <value>192.168.1.1</value>
        </setting>
        <setting name="dataQueryInterval" serializeAs="String">
            <value>1</value>
        </setting>
        <setting name="dataLogInterval" serializeAs="String">
            <value>1</value>
        </setting>
        <setting name="dataFileBasePath" serializeAs="String">
            <value>C:/CocoriCO2/CocoriCO2_CRCBN</value>
        </setting>
        <setting name="ftpUsername" serializeAs="String">
            <value>cocorico2</value>
        </setting>
        <setting name="ftpPassword" serializeAs="String">
            <value>C0q2Ch0c@2021</value>
        </setting>
        <setting name="ftpDir" serializeAs="String">
            <value>ftp.obs-vlfr.fr/CRCBN/</value>
        </setting>
        <setting name="InfluxDBWebpage" serializeAs="String">
            <value>http://localhost:8086/orgs/de9be6257a0a3477/dashboards/077b31f0db0d2000?lower=now%28%29%20-%207d</value>
        </setting>
        <setting name="InfluxDBToken" serializeAs="String">
            <value>eUNDgxqrwAFsb6pjOdqGkW-Qr9NxorO5WQamvvgtquXFJgUz1tyG2Ee-G7HhI_IKk9L3JavnAoxrMZ5evLs9Ig==</value>
        </setting>
        <setting name="InfluxDBBucket" serializeAs="String">
            <value>CocoriCO2</value>
        </setting>
        <setting name="InfluxDBOrg" serializeAs="String">
            <value>CNRS</value>
        </setting>
        <setting name="RDataWebpage" serializeAs="String">
            <value>http://www.obs-vlfr.fr/~gazeau/FACE-IT/FACE-IT.html</value>
        </setting>
        <setting name="FluoSlope" serializeAs="String">
            <value />
        </setting>
        <setting name="FluoOffset" serializeAs="String">
            <value />
        </setting>
        <setting name="SlackToken" serializeAs="String">
            <value>YOUR_SLACK_TOKEN_HERE</value>
        </setting>
        <setting name="SlackChannelID" serializeAs="String">
            <value>#CRCM</value>
        </setting>
        <setting name="AlarmLevelH" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="AlarmLevelL" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="AlarmLevelLL" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="AlarmPressure" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="AlarmpHCondition" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="AlarmTempCondition" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="AlarmFlowrate" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="AlarmpHMesocosm" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="AlarmTempMesocosm" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="PressureDelta" serializeAs="String">
            <value />
        </setting>
        <setting name="FlowrateDelta" serializeAs="String">
            <value />
        </setting>
        <setting name="FlowrateSetpoint" serializeAs="String">
            <value />
        </setting>
        <setting name="ConditionpHDelta" serializeAs="String">
            <value />
        </setting>
        <setting name="ConditionTempDelta" serializeAs="String">
            <value />
        </setting>
        <setting name="MesocosmpHDelta" serializeAs="String">
            <value />
        </setting>
        <setting name="MesocosmTempDelta" serializeAs="String">
            <value />
        </setting>
        <setting name="AlarmPressureSalinity" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="PressureSalinity" serializeAs="String">
            <value />
        </setting>
        <setting name="AlarmSalinity" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="SalinityAlarmValue" serializeAs="String">
            <value />
        </setting>
    </Appli_CocoriCO2.Properties.Settings>
    
  </userSettings>
</configuration>